{{!-- Homepage --}}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navBar">
    <ul class="nav navbar-nav">
        <a class="navbar-brand">NYT Scraper</a>
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/savedarticles">Saved Articles</a></li>
    </ul>
    <form action="/scrape" method="POST" class="navbar-form navbar-left">
        <button type="submit" class="btn btn-info">Scrape New Articles</button>
    </form>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!--End navigation-->

<!-- Main container -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="pictureText">The New York Times Scraper</div>
            </div>
        </div>
    </div>
    {{!-- <div class="row">
    <div class="col-md-12">
      {{#each articles}}
        <div class="panel panel-default">
          <div class="panel-heading row">
            <div class="col-s-9">
              <h4 class="panel-title">{{this.title}}</h4>
            </div>
            <div class="col-s-3">
              <form action="/save" method="POST">
                <input id="article-title" type="hidden" name="title" value="{{this.title}}">
                <input id="article-link"  type = "hidden" name="link" value={{this.link}}>
                <button type="submit" class="btn btn-success pull-right">Save Article</button>
              </form>
            </div>
          </div>
          <nbsp></nbsp>
          <div class="row">
            <div class="col-m-12>">
              <div class="panel-body">
                <p>{{this.summary}}</p>
                <nbsp></nbsp>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <nbsp></nbsp>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div> --}}


    <div class="col-md-12">
        {{#if articles}}
        {{#each articles}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <form action="/save" method="POST">
                    <input id="article-title" type="hidden" name="title" value="{{this.title}}">
                    <input id="article-link" type="hidden" name="link" value={{this.link}}>
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="submit" class="btn btn-success pull-right">Save Article</button>
                </form>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>